.Navbar_container {
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  background-image: url("../../img/logo.jpg");
  width: 300px;
  height: 140px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.title svg,
h1 {
  color: #d71920;
  font-size: 3em;
  font-family: "Times New Roman", Times, serif;
  
  
}

.title:hover {
  cursor: pointer;
  text-decoration: none;
}

.title:active {
  text-decoration: none;
}

.cart_e_login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 2em;
}

.cart_e_login svg {
  color: #191919;
  font-size: 2em;
  transition: transform 0.3s, opacity 0.3s;
}

.cart_e_login a {
  font-size: 1.5em;
  font-family: 'Roboto', Times, serif;
  text-decoration: none;
  color: #191919;
  transition: transform 0.3s, opacity 0.3s;
}

.cart_e_login svg:hover {
  opacity: 90%;
  cursor: pointer;
  transform: scale(1.2);
}

.cart_e_login a:hover {
  opacity: 90%;
  cursor: pointer;
  transform: scale(1.1);
}

.CartModal {
  width: 75vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(49, 49, 49, 0.349);
  display: flex;
  justify-content: right;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.cart h1 {
  font-size: 1em;
}
